
/* PROJECTS AND EXPERIENCE */

.experience {
    background-color: var(--light-blue);
    width: 100%;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

.items {
    width: 100%;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
}

@media only screen and (max-width: 450px) {
    .items {
        padding-left: 10px;
        padding-right: 10px;
    }
    .experience {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.items-label {
    font-size: 45px;
    color: var(--pink);
    text-shadow: -3px -3px 0 var(--dark-blue), 1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue), 1px 1px 0 var(--dark-blue);
    letter-spacing: 5px;
}


.item-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin: 30px;
}

.item > h1 {
    font-size: 35px;
    letter-spacing: 5px;
    color: var(--pink);
    text-shadow: -3px -3px 0 var(--dark-blue), 1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue), 1px 1px 0 var(--dark-blue);
    transition: 0.1s;
}

.item > h1:hover {
    font-size: 40px;
}

.item > .subhead {
    font-size: 20px;
    letter-spacing: 1.5px;
    color: var(--pink);
    text-shadow: -1.8px -1.8px 0 var(--dark-blue), 1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue), 1px 1px 0 var(--dark-blue);
    margin-bottom: 10px;
}

.item > ul > li {
    font-size: 19px;
    font-weight: 550;
    margin: 5px;
    margin-left: 30px;
    inline-size: clamp(100px, 360px);
    overflow-wrap: break-word;
    letter-spacing: 1px;
}

@media only screen and (min-width: 450px) {
    .item > ul > li {
        inline-size: 360px;
    }
}


/* LINKS */

.links {
    width: 100%;
    background-color: var(--light-blue);
    padding-top: 20px;
    padding-bottom: 15px;
}

.links > h1 {
    font-size: 45px;
    letter-spacing: 5px;
    color: var(--pink);
    text-shadow: -3px -3px 0 var(--dark-blue), 1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue), 1px 1px 0 var(--dark-blue);
    transition: 0.1s;
    padding-left: 70px;
    padding-right: 70px;
}

@media only screen and (max-width: 450px) {
    .links > h1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.links-list {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    list-style-type: none;
}

.links-list > li {
    font-size: 22px;
    margin: 5px 70px;
    transition: 0.1s;
    letter-spacing: 2px;
}

.links-list > li:hover {
    font-size: 32px;
}
