
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--pink);
    position: sticky;
    top: 0;
}

.my-name {
    margin-top: 5px;
    font-size: 22px;
    text-shadow: -3px -3px 0 var(--dark-blue), 1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue), 1px 1px 0 var(--dark-blue);
    letter-spacing: 5px;
    color: var(--light-blue);
}

.h-links {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 0px;
    margin-right: 20px;
}

.h-links > li {
    list-style-type: none;
    font-size: 20px;
    margin: 5px 50px;
    transition: 0.1s;
    letter-spacing: 2px;
}

.h-links > li:hover {
    font-size: 30px;
}

@media only screen and (max-width: 500px) {
    .h-links > li {
        margin: 5px 100px;
    }
}

.pfp {
    width: 250px;
    border-radius: 50%;
}

.content {
    margin: 50px;
    width: 100%;
}

.about-me {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 30px;
    padding-bottom: 50px;
    width: 70%;
    margin: auto;
}

.about-me > .right > h1 {
    font-size: 45px;
    color: var(--pink);
    text-shadow: -3px -3px 0 var(--dark-blue), 1px -1px 0 var(--dark-blue), -1px 1px 0 var(--dark-blue), 1px 1px 0 var(--dark-blue);
    letter-spacing: 5px;
}

.about-me > .right > p {
    font-size: 19px;
    margin-top: 10px;
    inline-size: clamp(100px, 400px);
    overflow-wrap: break-word;
    letter-spacing: 1px;
    font-weight: 550;
}

@media only screen and (min-width: 450px) {
    .about-me > .right > p {
        inline-size: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .about-me {
        width: 100%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-me > .left {
        padding-right: 0px;
        margin-bottom: 20px;
        justify-self: center;
    }
}