:root {
    --pink: #FCB0B3;
    --yellow: #FCECC9;
    --dark-blue: #445E93;
    --red: #F93943;
    --light-blue: #8eb9dc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--yellow);
    color:  var(--dark-blue);
}

a {
    color: inherit;
    text-decoration: none;
}

html {
  scroll-padding-top: 100px; /* height of sticky header */
}

@media only screen and (max-width: 500px) {
    html {
        scroll-padding-top: 230px;
    }
}