:root {
    --pink: #FCB0B3;
    --yellow: #FCECC9;
    --dark-blue: #445E93;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--yellow);
    color:  var(--dark-blue);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;
    background: var(--pink);
}

.my-name {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h-links {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-bottom: 10px;
}

.h-links > li {
    list-style-type: none;
    font-size: 20px;
    margin: 5px 100px;
}

.pfp {
    width: 250px;
    border-radius: 50%;
}



